<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <h3>Edit your Listing</h3>
    <div class="row">
        <div class="col-8">

    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data" >
       <div class="mb-3">
        <label for="tilte" class="form-label">Title</label>
        <input name="listing[title]" class="form-control" type= "text" required value="<%= listing.title %>"  >
        <div class="valid-feedback">Title looks good!</div>
       </div>
        
       <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required ><%= listing.description%></textarea>
        <div class="invalid-feedback">please enter short description</div>
       </div>

       <div class="mb-3">
         <img src="<%= listing.image.url %>" alt="Listing Image" class="img-fluid rounded" style="max-width: 350px; height: auto;">
        </div>

       
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image]" class="form-control" required  type="file">
            
        </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" class="form-control" required value="<%= listing.price %>" >
                <div class="invalid-feedback">price should be valid</div>
            </div>
            <div class="row">
            <div class="mb-3 col-md-4">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" class="form-control" required value="<%= listing.location %>"  type="text">
                <div class="invalid-feedback">location should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" required class="form-control" value="<%= listing.country %>"  type="text">
                <div class="invalid-feedback">country name should be valid</div>
            </div>
        </div>
        <button class="btn edit-btn add-btn mb-3">Edit</button>
    </form>
</div>
</div>
</body>
<script src="/js/script.js"></script>